
.modal-shadow {
    display:none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
}
.member-box {
    z-index: 1;
    display:none;
    background: #efefef;
    position:fixed;
    top: 30vh;
    left: 40vw;
    width:350px;
    max-width: 85vw;
    max-height:100vh;
    border-radius:5px;
}
.member-box > .chat-box-header {
    background-color: #fff;
    color: #000;
}
#memberListArea {
    background:white;
}
.member-box .msg-avatar img {
    margin-top: 10px;
}
.member-box .chat-room {
    height: 70px;
}