.head-title {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -0.6px;
    text-align: center;
    color: #212529;
    margin-bottom: 40px;
}

#top-keywords-list li a .rank {
    flex: none;
    position: absolute;
    right: 16px;
    top: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 1;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#top-keywords-list {
    width: 414px;
    margin: 0 auto;
    list-style-type: none;
    padding-bottom: 80px;
}


element.style {
}
#top-keywords-list li {
    counter-increment: item;
    padding: 10px 16px;
    border-bottom: 1px solid #e9ecef;
    display: flex;
    font-size: 17px;
    letter-spacing: -0.6px;
    position: relative;
}
* {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
#top-keywords-list {
    width: 414px;
    margin: 0 auto;
    list-style-type: none;
    padding-bottom: 80px;
}
user agent stylesheet
ol {
    list-style-type: decimal;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    min-height: calc(100% - 77px);
    position: relative;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #212529;
    min-height: 100%;
    position: relative;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
html {
    min-width: 980px;
    height: 100%;
    font-size: 62.5%;
}
html {
    height: 100%;
    font-size: 62.5%;
}
#top-keywords-list li:before {
    content: counter(item);
    width: 20px;
    line-height: 1;
    display: inline-block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-align: right;
    font-size: 17px;
    font-weight: 600;
    color: #212529;
    margin-right: 24px;
}

::selection {
    color: #212529;
    background: #FFB98B;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.up{
    color: #e03131;
    margin-right: 4px;
    display: inline-block;

}

.down{
    color: #186ec0;
    margin-right: 4px;
    display: inline-block;

 }

