
.product__add {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product__townList {
    padding-left: 81%;
    ;
}

.wrap {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}
.wrap textarea {
    width: 100%;
    resize: none;
    min-height: 4.5em;
    line-height:1.6em;
    max-height: 9em;
}

input.error, textarea.error{display: inline-block; color: red;}
label.error{display:block;color:red;}

.button {
    border-width: thin;
}


/*list*/
.product__item__pic {
    height: 270px;
    position: relative;
    overflow: hidden;
    background-position: center center;
    border-radius: 10px;
}
.product__item__text {
    text-align: center;
    padding-top: 15px;
}

.product__item__text h6 {
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.product__item__text h6 a {
    color: #252525;
}

.product__item__text h5 {
    color: #252525;
    font-weight: 700;
}

.product__wish__item {
    left: 0;
    bottom: -50px;
    width: 100%;
    text-align: center;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.product__wish__item li {
    list-style: none;
    display: inline-block;
    margin-right: 6px;
}

.product__wish__item li a {
    font-size: 16px;
    color: #1c1c1c;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ebebeb;
    background: #ffffff;
    display: block;
    border-radius: 50%;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.product__wish__item li a i {
    position: relative;
    transform: rotate(0);
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.product__wish__item li:hover a {
    background: #90C8AC;
    border-color: #90C8AC;
}

.product__wish__item li:hover a i {
    color: #ffffff;
    transform: rotate(360deg);
}

.product__wish__item li.true a {
    background: #90C8AC;
    border-color: #90C8AC;
}

.product__wish__item li.true a i {
    color: #ffffff;
    transform: rotate(360deg);
}

.product__wish__item li.true:hover a {
    background: #ffffff;
    border-color: #ebebeb;
}

.product__wish__item li.true:hover a i {
    color: #000000;
    transform: rotate(360deg);
}
.product__list {
    display: flex;
    justify-content: space-between;
}
.product__list__upload {
    color: #b2b2b2;
}
.product__list__price {
    font-size: 20px;
}


/*update*/
.imageList {
    display: flex;
    justify-content: space-between;
}
.btnRemove{
    border-width: thin;
}


/*detail*/
.product__image {
    max-width: 100px;
    height: 100px;

}
.product__rimage {
    width: 480px;
    height: 480px;
    padding-bottom: 20px;
}
.product__details__pic__item img{
    margin-bottom: 20px;
    min-width: 30px;

}

.primary-btn {
    display: inline-block;
    font-size: 14px;
    border: 0px;
    padding: 10px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #90C8AC;
    letter-spacing: 2px;
}

dl {
    display: flex;
    justify-content: space-around;
}
dt {

}
dd {
    text-align: center;
}

.auction__time__price {
    display: flex;
    justify-content: space-between;

    font-size: 28px;
}
.now__price {
    font-size: 30px;
    color: #dd2222;
    font-weight: 600;
    margin-bottom: 15px;
}
.time > span {
    color: #90C8AC;
}
.time__list {
    font-size: 30px;
    color: #90C8AC;
}
.product__details__tab .product__details__tab__desc p {
    color: #666666;
    white-space: pre-line;
    word-break: break-all;
}

.product__item__text > p {
    text-align: left;
}