.seek-bar {
    margin: 50px auto;
    position: relative;
    width:200px;
    height: 0px;


    border-radius: 15px;
    background-color: green;
    background: #00de63;
    border-radius: 15px;
}

.seek-bar > .circle {
    cursor: grab;
    position: absolute;
    left: 0;
    top: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
}

.seek-bar > .circle > span {

    display: block;
    width: 30px;
    line-height: 130px;
    left: 150%;
    top:150%;
    transform: translate(-50%, -50%);
    background: #47cd65;
    border-radius: 100%;
    text-align: center;
}

#ex1 {
    background-color: #47cd65;
    border-radius: 150%
}

#ex1 {
    width: 200px;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


output {
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
    width: 100%;
}

.u-left {
    float: left;
}

.u-cf:before,
.u-cf:after {
    content: "";
    display: table;
}

.u-cf:after {
    clear: both;
}

.u-text-left {
    text-align: left;
}

a {
    color: black;
    text-decoration-line: none;
    text-decoration: none;

}

a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: center;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

#modal .modal-window {
    /*overflow-y: auto;*/
    width: 850px;
    height: 600px;
    position: relative;
    top: -40px;
    padding: 10px;
    border-radius: 25px;
    background-color: whitesmoke;
    border: 1px black;

    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);


}

#modal .title {
    padding-left: 10px;
    display: inline;

    color: black;
}

#modal .title h2 {
    display: inline;
}

#modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;

    color: white;
}

#modal .content {
    margin-top: 20px;
    padding: 10px;
    text-shadow: 1px 1px 2px gray;
    color: black;
}

a {
    color: black;
    text-decoration-line: none;
    text-decoration: none;

}

a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}




input {
    width: 100%;
    height: 46px;
    font-size: 16px;
    color: #6f6f6f;
    padding-left: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 20px;


}

button {

    font-size: 16px;
    color: #6f6f6f;
    padding-left: 15px;
    border: 10px solid #e1e1e1;


}

