server:
  port: 8083
#  servlet:
#    encoding:
#      force: true
#      charset: UTF-8

spring:
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: onion
    password: a123
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.Oracle10gDialect
        format_sql: true
        show_sql: true
        default_batch_fetch_size: 100
  mail:
    host: smtp.gmail.com
    port: 587
    username: youpriceonion@gmail.com
    password: youpricea123
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

mybatis:
  mapper-locations: mybatis/mapper/*/*.xml
  type-aliases-package: com.youprice.onion.mapper.*
  configuration:
    map-underscore-to-camel-case: true

devtools:
  livereload:
    enabled: true

