.list-img.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.site-btn-follow {
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 10px 5px;
    background: #90C8AC;
    border: none;
    margin-bottom: 5px;
    width: 120px;
    height: 40px;
}

.site-btn-ing {
    font-size: 14px;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 10px 5px;
    background: #ffffff;
    border-width: thin;
    border-radius: 12px;
    margin-bottom: 5px;
    width: 120px;
    height: 40px;
}