.header__menu.profile {
    display: inline-block;
    padding: 0;
    text-align: left;
}

.header__cart__price.profile {
    margin-left: 15px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.site-btn.mypage {
    height: 50px;
    width: 210px;
    margin-left: 25px;
}

.header__nickname {
    text-align: center;
}

.header-img.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header__logo {
    text-align: center;
}

.header__profile {
    display: inline-block;
}