.header__menu.profile {
    display: inline-block;
    padding: 0;
    text-align: center;
}

.header__cart__price.profile {
    margin-left: 15px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.site-btn.mypage {
    height: 50px;
    width: 210px;
    margin-left: 25px;
}

.header__nickname {
    text-align: center;
    display: inline-block;
}

.header-img.profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.header__logo {
    text-align: center;
}

.header__profile {
    display: inline-block;
}

.header__cash {
    text-align: right;
    font-weight: normal;
    font-size: 13px;
}