#myPage {
    margin-top: 20px;
    margin-bottom: 20px;
}
#myPage > ul > li > a {
    color: black;
}
.linkcolor > td > a{
    color: #155724;
    align-items: flex-start;
}
.searchIn{
    display: inline; !important;
    width: 200px;
    height: 42px;
    margin-left: 5px;
}
.section-title h3 {
    color: #1c1c1c;
    font-weight: 700;
    position: relative;
}
.section-title h3:after {
    position: absolute;
    left: 0;
    bottom: -15px;
    right: 0;
    height: 4px;
    width: 170px;
    background: #47cd65;
    content: "";
    margin: 0 auto;
}
.secretColor{
    color: black;
}
.secretColor:hover{
    color: #47cd65;
}
.alignTitle{
    text-align: left;
}