#myform fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#myform fieldset legend{
    text-align: center;
    font-weight: bold;
}
#myform input[type=radio]{
    display: none;
}
#myform label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#myform label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#fileFont{
    font-size: 15pt;
    margin: auto;
    font-weight: bold;
}

.fileButton{
    padding: 10px 25px;
    background-color: #47cd65;
    border-radius: 10px;
    color: #191c1f;
    cursor: pointer;
}

.site-section {
    padding: 2.5em 0; }
@media (min-width: 768px) {
    .site-section {
        padding: 5em 0; } }
.site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading {
    padding-bottom: 20px;
    margin-bottom: 50px;
    position: relative;
    font-size: 2.5rem; }
@media (min-width: 768px) {
    .site-section-heading {
        font-size: 4rem; } }
.site-section-heading:after {
    content: "";
    left: 0%;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 3px;
    background: #0d0cb5; }
.site-section-heading.text-center:after {
    content: "";
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    left: 50%;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 3px;
    background: #0d0cb5; }

.bg-light {
    background: white; }
.text-black {
    color: #000 !important;
}
.text-black-opacity-05 {
    color: rgba(0, 0, 0, 0.5); }
.field-error{
    border-color: #f07682;
    color: #dc3545;
    font-weight: bold;
}